.bg{
    border-right: 5px solid black;
}
.container-my{
    margin:0,auto;
 }
 .heading{
     padding: 20px;
     padding-block-start: 2px;
     border-left: 8px solid #E91E63 ;
     margin-top: 20px;
     
     
 }
 .main{
     margin-top: 40px;
     display: inline-block;
     font-size: 32px;
     color:#E91E63;
     font-weight: 600
 }
 .comment-group{
     background-color:  rgb(236, 221, 221);
     width:100%;
 }
 .comment{
     background-color: ghostwhite;
 }
 .comment-image{
     height: .30px;
     width: 30px;
     border-radius: 150%;
 }
 .cooment-text{
     color:black;
     font-size: 16px;
     
 }
 .den{
     width: 200%;
 }
 .example-full-width {
    width: 100%;
  }
  .blog{
      margin: 100px;
      word-spacing: 3px;
      letter-spacing: 1.5px;
  }
  .small{
      margin: 0,200px;
  }
  .heading-blog{
      display: inline-block;
      font-size: 50px;
      color:#E91E63;
      font-weight: 700;
      transition: all .2s;
  }
  .heading-blog:hover{
      transform: skewX(-40deg) skewY(2deg)
  }
  .block{
      text-align: center;
      padding: 40px;
  }
  .colorr{
      margin-bottom: 50px;
      
  }
  .footer{
      background-color: #E91E63;
      color:white;
      text-align: center;
     padding:20px;
      margin-top:20px;
  }
 .image{
     height: 150px;
     display: block;
     margin: 0 auto;
     
 }
 mat-icon{
     margin-top: 10px;
     margin-bottom: 10px
 }
 .liked{
   color: #e91e63 !important;
 }
 .color{
     color:#e91e63;
     margin-top: 3px;
     display: inline-block ;
     background-color:ghostwhite !important
 }
 .block2 {
    background:ghostwhite;
    height: 20px;
    margin-right:700px;
    margin-left: 100px;
    text-align: center;
  }
  
  /* Fake (pseudo) element, that enables vertical-align */
  .block2:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .inner {
    display: inline-block;
    vertical-align: middle;
    background:ghostwhite;
    padding: 3px 5px;
  }  
  .side{
      position: fixed;
      top: 300px;
      margin-left: 20px;
  }
  .title{
 font-size: 16px;
 
 color:#E91E63;

}
.he{
    padding: 0px;
    margin: 20px;
    margin-right: 90%
}
.do{
    display: inline-block;
    margin-left: 36px;
    vertical-align: middle;

}
mat-icon{
    margin-left: 10px !important;
    padding:20px !important;
    border-radius: 50% !important;
    transition: .3s;
    border:solid 2px ghostwhite;
}
mat-icon:hover{
    border: solid 2px #E91E63;

}